<section class="games-list">
    <h2 class="section-title">All Games</h2>

    <!-- Search Bar -->
    <div class="search-bar">
        <input type="text" id="gameSearch" placeholder="Search for a game..." />
        <button class="search-btn">Search</button>
    </div>

    <!-- Game Grid -->
    <div class="square-game-grid">
        {{#each games}}
        <div class="square-game-card">
            <img src="{{imageUrl}}"
                alt="{{title}}">
            <div class="square-game-info">
                <h3>{{title}}</h3>
            </div>
        </div>
        {{else}}
        <p class="section-title">There are no games yet...</p>
        {{/each}}
    </div>

    {{#if games}}
    <div class="reviews-pagination">
        <button class="page-btn prev">← Previous</button>
        <div class="page-numbers">
            <button class="page-number active">1</button>
            <button class="page-number">2</button>
            <button class="page-number">3</button>
        </div>
        <button class="page-btn next">Next →</button>
    </div>
    {{/if}}
</section>