<section id="edit-review">
    <div class="review-form">
        <h3 class="form-title">Leave a Review</h3>
        <form id="reviewForm" method="POST">
            <div class="form-group">
                <label for="rating">Rating (From 1 to 10)</label>
                <input type="number" id="rating" name="rating" value="{{review.rating}}" required>
            </div>
            <div class="form-group">
                <label for="playTime">Time to finish (in hours)</label>
                <input type="number" id="playTime" name="playTime" value="{{review.playTime}}" required>
            </div>
            <div class="form-group">
                <label for="thoughts">Thoughts:</label>
                <textarea name="thoughts" id="thoughts" required>{{review.thoughts}}</textarea>
            </div>
            <button type="submit" class="submit-btn">Edit</button>
        </form>
    </div>
</section>