@charset "utf-8";

@import url(./main.css);
@import url(./home.css);
@import url(./about.css);
@import url(./form.css);
@import url(./404.css);
@import url(./catalogue.css);
@import url(./gameDetails.css);
@import url(./reviews.css);
@import url(./profile.css);
@import url(./delete.css);

